p {
    font-family: "Courier New", monospace;
  }

h1 {
    font-family: "Papyrus", fantasy;
}

#jokeBtn {
    background-image: url(images/dad.jpeg);
    background-repeat: no-repeat;
    border: none;
    background-size: contain;
    height: 100px;
    width: 80px;
}